* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: rgb(17, 17, 22);
}

div {
  width: 100%;
  margin: 20px;
}

div ul {
  display: flex;
  flex-direction: row;
}

div li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 1em grey;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  width: fit-content;
  background-color: #fff;
}
div li h1 {
  color: #7159c1;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  margin: 20px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}